.navbarCss{
    background-color: #FFC75F;
}

.config{
    margin: 0px;
    padding: 10px;
}

.iconCss{
    width: 17px;
    height: 17px;
}

.signedIn{
    padding-left: 15px;
    padding-right: 5px;
}

.signOut{
    border: 0px;
 background-color:#00000000;
}

.myNav{
    display: flex;
    justify-content: space-between;
}
.singedIn{
    background: #00000030;
    border-radius: 10px;
}
ul {
    margin: 0;
    padding: 0;
}