.translateSection{
    height: 60px;
}

.signWords{
    height: 25px;
    width: 26px;
}


.arrow{
    width: 25px;
    height: 30px;
}

.translationDiv{
    background-color: #FFC75F;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top:1px solid black ;
}

.signLanguage{
    padding-top: 30px;
}

.TranslateInput {
    border:none;
    background-color: #efefef;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}
  
.TranslateInput:focus {
    outline: none;
}

.translateButton {
    border:1px solid #845ec2;
    background:#845ec2;
    color:white;
    border-radius: 10px;
}

