.profileHeader{
    background-color: #FFC75F;
    display: flex;
    justify-content: center;
    color: white;
}

.historyBtn{
    display: flex;
    justify-content: center;
    color: white;
}
.btn{
    border:1px solid #845ec2;
    background:#845ec2;
    color:white;
    border-radius: 10px;
}

.historyTitle{
    display: flex;
    justify-content: center;
}
.historySubtitle{
    display: flex;
    justify-content: center;
    list-style-type: none;
}