.loginForm{
    padding: 10px;
    background-color: white;
    border-color: #845ec2;
    border:5px solid #845ec2;
    border-radius: 10px;
}

.formLog {
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding:2px;
}
  
.loginInput {
    flex-grow:2;
    border:none;
    background-color: #d9d9d9;
    
}

.loginInput {
    text-align: center;
    border-radius: 10px;
    height: 20px;
}
  
.loginInput:focus {
    outline: none;
}
  
.loginButton {
    border:1px solid #845ec2;
    background:#845ec2;
    color:white;
    border-radius: 10px;
}

.arrow{
    width: 13px;
    height: 10px;
}

.removeMargin{
    margin: 0px;
}

.loginText {
    border-top: 1px solid black;
    text-align: center;
    color: white;
    background-color: #FFC75F;
    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    width: 50px;
    display: flex;
}
